*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: moccasin;
}

.calc {
  display: flex;
  flex-direction: column;
  gap: 5%;
  border-radius: 15px;
  padding: 40px;
  width: 30%;
  height: 80%;
  background-color: black;
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  flex: 1;
  font-family: Arial, Helvetica, sans-serif;
}

.keypad {
  display: flex;
  flex-direction: column;
  flex: 5;
  gap: 1%;
}

.keypad > div {
  display: flex;
  gap: 3%;
  flex: 1;
}

button {
  flex: 1;
  font-size: 48px;
  border-radius: 50%;
  background-color: #202020;
  border-width: 0px;
  color: whitesmoke;
}

p {
  font-size: 64px;
  font-weight: 400;
  color: whitesmoke;
}